<category label="Orion">
	<setting label="Orion" type="lsep" />
	<setting type="sep" />
	<setting id="provider.orionoid" type="bool" label="Enable" default="true" />
	<setting id="provider.orionoid.settings" type="action" label="Settings" option="close" action="RunPlugin(plugin://script.module.orion?action=dialogSettings)" subsetting="true" visible="eq(-1,true)" />
	<setting id="provider.orionoid.info.1" type="enum" label="Info 1" default="10" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-2,true)" />
	<setting id="provider.orionoid.info.2" type="enum" label="Info 2" default="11" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-3,true)" />
	<setting id="provider.orionoid.info.3" type="enum" label="Info 3" default="12" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-4,true)" />
	<setting id="provider.orionoid.info.4" type="enum" label="Info 4" default="13" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-5,true)" />
	<setting id="provider.orionoid.info.5" type="enum" label="Info 5" default="14" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-6,true)" />
	<setting id="provider.orionoid.info.6" type="enum" label="Info 6" default="4" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-7,true)" />
	<setting id="provider.orionoid.info.7" type="enum" label="Info 7" default="3" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-8,true)" />
	<setting id="provider.orionoid.info.8" type="enum" label="Info 8" default="16" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-9,true)" />
	<setting id="provider.orionoid.info.9" type="enum" label="Info 9" default="17" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-10,true)" />
	<setting id="provider.orionoid.info.10" type="enum" label="Info 10" default="0" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-11,true)" />
	<setting id="provider.orionoid.info.11" type="enum" label="Info 11" default="0" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-12,true)" />
	<setting id="provider.orionoid.info.12" type="enum" label="Info 12" default="0" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-13,true)" />
	<setting id="provider.orionoid.info.13" type="enum" label="Info 13" default="0" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-14,true)" />
	<setting id="provider.orionoid.info.14" type="enum" label="Info 14" default="0" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-15,true)" />
	<setting id="provider.orionoid.info.15" type="enum" label="Info 15" default="0" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-16,true)" />
</category>
