<settings>
    <category>
	<setting id="autoswitch" type="bool" label = "30000" />
	<setting id="startday" type="time" label="30001" default="08:00" />
	<setting id="startnight" type="time" label="30002" default="20:00"  />
	<setting id="state" type="string" visible="false" default="day"/>

        <setting id="day_BGPicturesAllowFocus" type="bool" visible ="false" />
        <setting id="day_BottomBGColor" type="string" visible ="false" />
        <setting id="day_BottomBGTransparency" type="string" visible ="false" />
        <setting id="day_ClockColor" type="string" visible ="false" />
        <setting id="day_ConfigButton" type="string" visible ="false" />
        <setting id="day_Container.SortMethod" type="string" visible ="false" />
        <setting id="day_CustomBackgroundPath" type="string" visible ="false" />
        <setting id="day_CustomColorFocus" type="string" visible ="false" />
        <setting id="day_CustomColorHomebuttons" type="string" visible ="false" />
        <setting id="day_CustomColorNofocus" type="string" visible ="false" />
        <setting id="day_CustomLogoPath" type="string" visible ="false" />
        <setting id="day_CustomMusicPath" type="string" visible ="false" />
        <setting id="day_CustomMusicPath1" type="string" visible ="false" />
        <setting id="day_CustomMusicPath2" type="string" visible ="false" />
        <setting id="day_CustomMusicPath3" type="string" visible ="false" />
        <setting id="day_CustomMusicPath4" type="string" visible ="false" />
        <setting id="day_CustomMusicPath5" type="string" visible ="false" />
        <setting id="day_CustomMusicPath6" type="string" visible ="false" />
        <setting id="day_CustomRadioBgFullPath" type="string" visible ="false" />
        <setting id="day_CustomSubmenuBGColor" type="string" visible ="false" />
        <setting id="day_CustomVideoPath1" type="string" visible ="false" />
        <setting id="day_CustomVideoPath2" type="string" visible ="false" />
        <setting id="day_CustomVideoPath3" type="string" visible ="false" />
        <setting id="day_CustomVideoPath4" type="string" visible ="false" />
        <setting id="day_CustomVideoPath5" type="string" visible ="false" />
        <setting id="day_CustomVideoPath6" type="string" visible ="false" />
        <setting id="day_CustomVisBgFullPath" type="string" visible ="false" />
        <setting id="day_CustomVisBgPath" type="string" visible ="false" />
        <setting id="day_DayNightModus" type="string" visible ="false" />
        <setting id="day_DeleteRadioStation" type="bool" visible ="false" />
        <setting id="day_DeleteRadioStation" type="string" visible ="false" />
        <setting id="day_Enable_Clock_Animation" type="bool" visible ="false" />
        <setting id="day_Enable_Clock_Animation" type="string" visible ="false" />
        <setting id="day_Enable_Clock_Second_Hand" type="bool" visible ="false" />
        <setting id="day_Enable_Clock_Second_Hand" type="string" visible ="false" />
        <setting id="day_EnableBGColor" type="bool" visible ="false" />
        <setting id="day_EnableBGColor" type="string" visible ="false" />
        <setting id="day_EnableBGPictures" type="bool" visible ="false" />
        <setting id="day_EnableBGPictures" type="string" visible ="false" />
        <setting id="day_EnableBottomBG" type="bool" visible ="false" />
        <setting id="day_EnableBottomBG" type="string" visible ="false" />
        <setting id="day_EnablePlayerButtonsBG" type="bool" visible ="false" />
        <setting id="day_EnablePlayerButtonsBG" type="string" visible ="false" />
        <setting id="day_EnableSubmenuBG" type="bool" visible ="false" />
        <setting id="day_EnableTempOutput" type="bool" visible ="false" />
        <setting id="day_EnableTempOutput" type="string" visible ="false" />
        <setting id="day_EnableTitleImage" type="bool" visible ="false" />
        <setting id="day_EnableTitleText" type="bool" visible ="false" />
        <setting id="day_EnableTitleText" type="string" visible ="false" />
        <setting id="day_FirstSettings" type="string" visible ="false" />
        <setting id="day_HBOutlineColor" type="string" visible ="false" />
        <setting id="day_HBSolidColor" type="string" visible ="false" />
        <setting id="day_HBTransparency" type="string" visible ="false" />
        <setting id="day_Hide1024x600Fix" type="bool" visible ="false" />
        <setting id="day_HideAlternateRadio" type="bool" visible ="false" />
        <setting id="day_HideAppSwitcher" type="bool" visible ="false" />
        <setting id="day_HideHomeButtonConnect3g" type="bool" visible ="false" />
        <setting id="day_HideHomeButtonConnect3g" type="string" visible ="false" />
        <setting id="day_HideHomeButtonConnectWiFi" type="bool" visible ="false" />
        <setting id="day_HideHomeButtonDayNight" type="bool" visible ="false" />
        <setting id="day_HideHomeButtonFavourites" type="bool" visible ="false" />
        <setting id="day_HideHomeButtonFavourites" type="string" visible ="false" />
        <setting id="day_HideHomeButtonFileManager" type="bool" visible ="false" />
        <setting id="day_HideHomeButtonFileManager" type="string" visible ="false" />
        <setting id="day_HideHomeButtonMusic" type="bool" visible ="false" />
        <setting id="day_HideHomeButtonMusic" type="string" visible ="false" />
        <setting id="day_HideHomeButtonMusicAlbums" type="bool" visible ="false" />
        <setting id="day_HideHomeButtonMusicArtists" type="bool" visible ="false" />
        <setting id="day_HideHomeButtonMusicGenre" type="bool" visible ="false" />
        <setting id="day_HideHomeButtonMusicPlayerTitle" type="bool" visible ="false" />
        <setting id="day_HideHomeButtonMusicPlayerTitle" type="string" visible ="false" />
        <setting id="day_HideHomeButtonNavigation" type="bool" visible ="false" />
        <setting id="day_HideHomeButtonNavigation" type="string" visible ="false" />
        <setting id="day_HideHomeButtonOBD" type="bool" visible ="false" />
        <setting id="day_HideHomeButtonPictures" type="string" visible ="false" />
        <setting id="day_HideHomeButtonPrograms" type="bool" visible ="false" />
        <setting id="day_HideHomeButtonPrograms" type="string" visible ="false" />
        <setting id="day_HideHomeButtonRadio" type="bool" visible ="false" />
        <setting id="day_HideHomeButtonRadio" type="string" visible ="false" />
        <setting id="day_HideHomeButtonRadioStationName" type="bool" visible ="false" />
        <setting id="day_HideHomeButtonRadioStationName" type="string" visible ="false" />
        <setting id="day_HideHomeButtonShutdownDialog" type="bool" visible ="false" />
        <setting id="day_HideHomeButtonShutdownDialog" type="string" visible ="false" />
        <setting id="day_HideHomeButtonTime" type="bool" visible ="false" />
        <setting id="day_HideHomeButtonTime" type="string" visible ="false" />
        <setting id="day_HideHomeButtonVideo" type="bool" visible ="false" />
        <setting id="day_HideHomeButtonVideo" type="string" visible ="false" />
        <setting id="day_HideHomeButtonWeather" type="bool" visible ="false" />
        <setting id="day_HideHomeButtonWeather" type="string" visible ="false" />
        <setting id="day_HideHomeRadioText" type="bool" visible ="false" />
        <setting id="day_HideRandomRepeat" type="bool" visible ="false" />
        <setting id="day_HideRandomRepeat" type="string" visible ="false" />
        <setting id="day_HideVisualisationHome" type="bool" visible ="false" />
        <setting id="day_HideVisualisationHome" type="string" visible ="false" />
        <setting id="day_HideVolumeBar" type="bool" visible ="false" />
        <setting id="day_HideWeatherTitleWidget" type="bool" visible ="false" />
        <setting id="day_HideWeatherTitleWidget" type="string" visible ="false" />
        <setting id="day_Home1BG" type="string" visible ="false" />
        <setting id="day_Home1BGFocus" type="string" visible ="false" />
        <setting id="day_Home2BG" type="string" visible ="false" />
        <setting id="day_Home2BGFocus" type="string" visible ="false" />
        <setting id="day_Home3BG" type="string" visible ="false" />
        <setting id="day_Home3BGFocus" type="string" visible ="false" />
        <setting id="day_Home4BG" type="string" visible ="false" />
        <setting id="day_Home4BGFocus" type="string" visible ="false" />
        <setting id="day_Home5BG" type="string" visible ="false" />
        <setting id="day_Home5BGFocus" type="string" visible ="false" />
        <setting id="day_Home6BG" type="string" visible ="false" />
        <setting id="day_Home6BGFocus" type="string" visible ="false" />
        <setting id="day_HomeButton1Value" type="string" visible ="false" />
        <setting id="day_HomeButton2Value" type="string" visible ="false" />
        <setting id="day_HomeButton3Value" type="string" visible ="false" />
        <setting id="day_HomeButton4Value" type="string" visible ="false" />
        <setting id="day_HomeButton5Value" type="string" visible ="false" />
        <setting id="day_HomeButton6Value" type="string" visible ="false" />
        <setting id="day_HomeScreenTitle" type="string" visible ="false" />
        <setting id="day_HomeScreenTitleImage" type="string" visible ="false" />
        <setting id="day_ListRadioStation" type="bool" visible ="false" />
        <setting id="day_ListRadioStation" type="string" visible ="false" />
        <setting id="day_MagicButtonIcon1" type="string" visible ="false" />
        <setting id="day_MagicButtonIcon2" type="string" visible ="false" />
        <setting id="day_MagicButtonIcon3" type="string" visible ="false" />
        <setting id="day_MagicButtonIcon4" type="string" visible ="false" />
        <setting id="day_MagicButtonIcon5" type="string" visible ="false" />
        <setting id="day_MagicButtonIcon6" type="string" visible ="false" />
        <setting id="day_MediaSubMenuVisible" type="string" visible ="false" />
        <setting id="day_MediaSubMenuVisible2" type="bool" visible ="false" />
        <setting id="day_PlayerButtonsBGColor" type="string" visible ="false" />
        <setting id="day_PlayerButtonsBGTransparency" type="string" visible ="false" />
        <setting id="day_PlayerControlsShowAudioInfo" type="bool" visible ="false" />
        <setting id="day_PlayerControlsShowAudioInfo" type="string" visible ="false" />
        <setting id="day_PlayerControlsShowVideoInfo" type="bool" visible ="false" />
        <setting id="day_PlayerControlsShowVideoInfo" type="string" visible ="false" />
        <setting id="day_PlayerControlsSubMenuVisible" type="bool" visible ="false" />
        <setting id="day_PlayerControlsSubMenuVisible" type="string" visible ="false" />
        <setting id="day_RadioAddonBackground" type="string" visible ="false" />
        <setting id="day_RadioAddonBackgroundImage" type="string" visible ="false" />
        <setting id="day_RadioAddonRadioText" type="string" visible ="false" />
        <setting id="day_RadioBGColor" type="string" visible ="false" />
        <setting id="day_RadioBGTransparency" type="string" visible ="false" />
        <setting id="day_RadioDisplayColor" type="string" visible ="false" />
        <setting id="day_RadioDisplayTransparency" type="string" visible ="false" />
        <setting id="day_RadioMuteOn" type="string" visible ="false" />
        <setting id="day_SaveDayNight" type="string" visible ="false" />
        <setting id="day_SaveRadioStation" type="bool" visible ="false" />
        <setting id="day_SaveRadioStation" type="string" visible ="false" />
        <setting id="day_SettingsIcon2" type="string" visible ="false" />
        <setting id="day_Show_Clock_white" type="bool" visible ="false" />
        <setting id="day_Show_Clock_white" type="string" visible ="false" />
        <setting id="day_ShowMousePointer" type="bool" visible ="false" />
        <setting id="day_ShowOutlines" type="bool" visible ="false" />
        <setting id="day_ShowOutlines" type="string" visible ="false" />
        <setting id="day_ShowStationbuttonsOutlines" type="bool" visible ="false" />
        <setting id="day_SkinHelper.EnableAnimatedPosters" type="string" visible ="false" />
        <setting id="day_SkinHelper.EnablePVRThumbs" type="string" visible ="false" />
        <setting id="day_SkinSettings" type="string" visible ="false" />
        <setting id="day_StartEndDay" type="string" visible ="false" />
        <setting id="day_Startup_Playlist_Path" type="string" visible ="false" />
        <setting id="day_StationbuttonsOutlineColor" type="string" visible ="false" />
        <setting id="day_SubmenuBGTransparency" type="string" visible ="false" />
        <setting id="day_SubmenuIconsBig" type="bool" visible ="false" />
        <setting id="day_SubmenuIconsMid" type="bool" visible ="false" />
        <setting id="day_SubmenuIconsSmall" type="bool" visible ="false" />
        <setting id="day_SubtitleScript_Path" type="string" visible ="false" />
        <setting id="day_Use_Startup_Playlist" type="bool" visible ="false" />
        <setting id="day_UseCustomBackground" type="bool" visible ="false" />
        <setting id="day_UseCustomBackground" type="string" visible ="false" />
        <setting id="day_UseCustomLogo" type="bool" visible ="false" />
        <setting id="day_UseCustomLogo" type="string" visible ="false" />
        <setting id="day_UseRadioBG" type="bool" visible ="false" />
        <setting id="day_UseVisBg" type="bool" visible ="false" />
        <setting id="day_UseVisBg" type="string" visible ="false" />
        <setting id="day_UseVisBgCover" type="bool" visible ="false" />
        <setting id="day_UseVisBgCover" type="string" visible ="false" />
        <setting id="day_UseVisBgFull" type="bool" visible ="false" />
        <setting id="day_UseVisBgFull" type="string" visible ="false" />
        <setting id="day_TempSensor" type="string" visible ="false" />
        <setting id="day_TempSensor" type="bool" visible ="false" />
        <setting id="day_TempSensorCount" type="string" visible ="false" />
        <setting id="day_TempSensorCount" type="bool" visible ="false" />
        <setting id="day_TempBackgroundPath" type="string" visible ="false" />
        <setting id="day_TempBackgroundPath" type="bool" visible ="false" />
        <setting id="day_TempLabelColor" type="string" visible ="false" />
        <setting id="day_TempLabelColor" type="bool" visible ="false" />
        <setting id="day_TempClockColorHours" type="string" visible ="false" />
        <setting id="day_TempClockColorHours" type="bool" visible ="false" />
        <setting id="day_TempClockColorMinutes" type="string" visible ="false" />
        <setting id="day_TempClockColorMinutes" type="bool" visible ="false" />
        <setting id="day_ShowRecentlyAdded" type="string" visible ="false" />
        <setting id="day_ShowRecentlyAdded" type="bool" visible ="false" />
        <setting id="day_ShowNextTrack" type="string" visible ="false" />
        <setting id="day_ShowNextTrack" type="bool" visible ="false" />
        <setting id="day_ShowNextTrackDuration" type="string" visible ="false" />
        <setting id="day_ShowNextTrackDuration" type="bool" visible ="false" />
        <setting id="day_HideMusicInfoBG" type="string" visible ="false" />
        <setting id="day_HideMusicInfoBG" type="bool" visible ="false" />

        <setting id="night_BGPicturesAllowFocus" type="bool" visible ="false" />
        <setting id="night_BottomBGColor" type="string" visible ="false" />
        <setting id="night_BottomBGTransparency" type="string" visible ="false" />
        <setting id="night_ClockColor" type="string" visible ="false" />
        <setting id="night_ConfigButton" type="string" visible ="false" />
        <setting id="night_Container.SortMethod" type="string" visible ="false" />
        <setting id="night_CustomBackgroundPath" type="string" visible ="false" />
        <setting id="night_CustomColorFocus" type="string" visible ="false" />
        <setting id="night_CustomColorHomebuttons" type="string" visible ="false" />
        <setting id="night_CustomColorNofocus" type="string" visible ="false" />
        <setting id="night_CustomLogoPath" type="string" visible ="false" />
        <setting id="night_CustomMusicPath" type="string" visible ="false" />
        <setting id="night_CustomMusicPath1" type="string" visible ="false" />
        <setting id="night_CustomMusicPath2" type="string" visible ="false" />
        <setting id="night_CustomMusicPath3" type="string" visible ="false" />
        <setting id="night_CustomMusicPath4" type="string" visible ="false" />
        <setting id="night_CustomMusicPath5" type="string" visible ="false" />
        <setting id="night_CustomMusicPath6" type="string" visible ="false" />
        <setting id="night_CustomRadioBgFullPath" type="string" visible ="false" />
        <setting id="night_CustomSubmenuBGColor" type="string" visible ="false" />
         <setting id="night_CustomVideoPath1" type="string" visible ="false" />
        <setting id="night_CustomVideoPath2" type="string" visible ="false" />
        <setting id="night_CustomVideoPath3" type="string" visible ="false" />
        <setting id="night_CustomVideoPath4" type="string" visible ="false" />
        <setting id="night_CustomVideoPath5" type="string" visible ="false" />
        <setting id="night_CustomVideoPath6" type="string" visible ="false" />
        <setting id="night_CustomVisBgFullPath" type="string" visible ="false" />
        <setting id="night_CustomVisBgPath" type="string" visible ="false" />
        <setting id="night_DayNightModus" type="string" visible ="false" />
        <setting id="night_DeleteRadioStation" type="bool" visible ="false" />
        <setting id="night_DeleteRadioStation" type="string" visible ="false" />
        <setting id="night_Enable_Clock_Animation" type="bool" visible ="false" />
        <setting id="night_Enable_Clock_Animation" type="string" visible ="false" />
        <setting id="night_Enable_Clock_Second_Hand" type="bool" visible ="false" />
        <setting id="night_Enable_Clock_Second_Hand" type="string" visible ="false" />
        <setting id="night_EnableBGColor" type="bool" visible ="false" />
        <setting id="night_EnableBGColor" type="string" visible ="false" />
        <setting id="night_EnableBGPictures" type="bool" visible ="false" />
        <setting id="night_EnableBGPictures" type="string" visible ="false" />
        <setting id="night_EnableBottomBG" type="bool" visible ="false" />
        <setting id="night_EnableBottomBG" type="string" visible ="false" />
        <setting id="night_EnablePlayerButtonsBG" type="bool" visible ="false" />
        <setting id="night_EnablePlayerButtonsBG" type="string" visible ="false" />
        <setting id="night_EnableSubmenuBG" type="bool" visible ="false" />
        <setting id="night_EnableTempOutput" type="bool" visible ="false" />
        <setting id="night_EnableTempOutput" type="string" visible ="false" />
        <setting id="night_EnableTitleImage" type="bool" visible ="false" />
        <setting id="night_EnableTitleText" type="bool" visible ="false" />
        <setting id="night_EnableTitleText" type="string" visible ="false" />
        <setting id="night_FirstSettings" type="string" visible ="false" />
        <setting id="night_HBOutlineColor" type="string" visible ="false" />
        <setting id="night_HBSolidColor" type="string" visible ="false" />
        <setting id="night_HBTransparency" type="string" visible ="false" />
        <setting id="night_Hide1024x600Fix" type="bool" visible ="false" />
        <setting id="night_HideAlternateRadio" type="bool" visible ="false" />
        <setting id="night_HideAppSwitcher" type="bool" visible ="false" />
        <setting id="night_HideHomeButtonConnect3g" type="bool" visible ="false" />
        <setting id="night_HideHomeButtonConnect3g" type="string" visible ="false" />
        <setting id="night_HideHomeButtonConnectWiFi" type="bool" visible ="false" />
        <setting id="night_HideHomeButtonDayNight" type="bool" visible ="false" />
        <setting id="night_HideHomeButtonFavourites" type="bool" visible ="false" />
        <setting id="night_HideHomeButtonFavourites" type="string" visible ="false" />
        <setting id="night_HideHomeButtonFileManager" type="bool" visible ="false" />
        <setting id="night_HideHomeButtonFileManager" type="string" visible ="false" />
        <setting id="night_HideHomeButtonMusic" type="bool" visible ="false" />
        <setting id="night_HideHomeButtonMusic" type="string" visible ="false" />
        <setting id="night_HideHomeButtonMusicAlbums" type="bool" visible ="false" />
        <setting id="night_HideHomeButtonMusicArtists" type="bool" visible ="false" />
        <setting id="night_HideHomeButtonMusicGenre" type="bool" visible ="false" />
        <setting id="night_HideHomeButtonMusicPlayerTitle" type="bool" visible ="false" />
        <setting id="night_HideHomeButtonMusicPlayerTitle" type="string" visible ="false" />
        <setting id="night_HideHomeButtonNavigation" type="bool" visible ="false" />
        <setting id="night_HideHomeButtonNavigation" type="string" visible ="false" />
        <setting id="night_HideHomeButtonOBD" type="bool" visible ="false" />
        <setting id="night_HideHomeButtonPictures" type="string" visible ="false" />
        <setting id="night_HideHomeButtonPrograms" type="bool" visible ="false" />
        <setting id="night_HideHomeButtonPrograms" type="string" visible ="false" />
        <setting id="night_HideHomeButtonRadio" type="bool" visible ="false" />
        <setting id="night_HideHomeButtonRadio" type="string" visible ="false" />
        <setting id="night_HideHomeButtonRadioStationName" type="bool" visible ="false" />
        <setting id="night_HideHomeButtonRadioStationName" type="string" visible ="false" />
        <setting id="night_HideHomeButtonShutdownDialog" type="bool" visible ="false" />
        <setting id="night_HideHomeButtonShutdownDialog" type="string" visible ="false" />
        <setting id="night_HideHomeButtonTime" type="bool" visible ="false" />
        <setting id="night_HideHomeButtonTime" type="string" visible ="false" />
        <setting id="night_HideHomeButtonVideo" type="bool" visible ="false" />
        <setting id="night_HideHomeButtonVideo" type="string" visible ="false" />
        <setting id="night_HideHomeButtonWeather" type="bool" visible ="false" />
        <setting id="night_HideHomeButtonWeather" type="string" visible ="false" />
        <setting id="night_HideHomeRadioText" type="bool" visible ="false" />
        <setting id="night_HideRandomRepeat" type="bool" visible ="false" />
        <setting id="night_HideRandomRepeat" type="string" visible ="false" />
        <setting id="night_HideVisualisationHome" type="bool" visible ="false" />
        <setting id="night_HideVisualisationHome" type="string" visible ="false" />
        <setting id="night_HideVolumeBar" type="bool" visible ="false" />
        <setting id="night_HideWeatherTitleWidget" type="bool" visible ="false" />
        <setting id="night_HideWeatherTitleWidget" type="string" visible ="false" />
        <setting id="night_Home1BG" type="string" visible ="false" />
        <setting id="night_Home1BGFocus" type="string" visible ="false" />
        <setting id="night_Home2BG" type="string" visible ="false" />
        <setting id="night_Home2BGFocus" type="string" visible ="false" />
        <setting id="night_Home3BG" type="string" visible ="false" />
        <setting id="night_Home3BGFocus" type="string" visible ="false" />
        <setting id="night_Home4BG" type="string" visible ="false" />
        <setting id="night_Home4BGFocus" type="string" visible ="false" />
        <setting id="night_Home5BG" type="string" visible ="false" />
        <setting id="night_Home5BGFocus" type="string" visible ="false" />
        <setting id="night_Home6BG" type="string" visible ="false" />
        <setting id="night_Home6BGFocus" type="string" visible ="false" />
        <setting id="night_HomeButton1Value" type="string" visible ="false" />
        <setting id="night_HomeButton2Value" type="string" visible ="false" />
        <setting id="night_HomeButton3Value" type="string" visible ="false" />
        <setting id="night_HomeButton4Value" type="string" visible ="false" />
        <setting id="night_HomeButton5Value" type="string" visible ="false" />
        <setting id="night_HomeButton6Value" type="string" visible ="false" />
        <setting id="night_HomeScreenTitle" type="string" visible ="false" />
        <setting id="night_HomeScreenTitleImage" type="string" visible ="false" />
        <setting id="night_ListRadioStation" type="bool" visible ="false" />
        <setting id="night_ListRadioStation" type="string" visible ="false" />
        <setting id="night_MagicButtonIcon1" type="string" visible ="false" />
        <setting id="night_MagicButtonIcon2" type="string" visible ="false" />
        <setting id="night_MagicButtonIcon3" type="string" visible ="false" />
        <setting id="night_MagicButtonIcon4" type="string" visible ="false" />
        <setting id="night_MagicButtonIcon5" type="string" visible ="false" />
        <setting id="night_MagicButtonIcon6" type="string" visible ="false" />
        <setting id="night_MediaSubMenuVisible" type="string" visible ="false" />
        <setting id="night_MediaSubMenuVisible2" type="bool" visible ="false" />
        <setting id="night_PlayerButtonsBGColor" type="string" visible ="false" />
        <setting id="night_PlayerButtonsBGTransparency" type="string" visible ="false" />
        <setting id="night_PlayerControlsShowAudioInfo" type="bool" visible ="false" />
        <setting id="night_PlayerControlsShowAudioInfo" type="string" visible ="false" />
        <setting id="night_PlayerControlsShowVideoInfo" type="bool" visible ="false" />
        <setting id="night_PlayerControlsShowVideoInfo" type="string" visible ="false" />
        <setting id="night_PlayerControlsSubMenuVisible" type="bool" visible ="false" />
        <setting id="night_PlayerControlsSubMenuVisible" type="string" visible ="false" />
        <setting id="night_RadioAddonBackground" type="string" visible ="false" />
        <setting id="night_RadioAddonBackgroundImage" type="string" visible ="false" />
        <setting id="night_RadioAddonRadioText" type="string" visible ="false" />
        <setting id="night_RadioBGColor" type="string" visible ="false" />
        <setting id="night_RadioBGTransparency" type="string" visible ="false" />
        <setting id="night_RadioDisplayColor" type="string" visible ="false" />
        <setting id="night_RadioDisplayTransparency" type="string" visible ="false" />
        <setting id="night_RadioMuteOn" type="string" visible ="false" />
        <setting id="night_SaveDayNight" type="string" visible ="false" />
        <setting id="night_SaveRadioStation" type="bool" visible ="false" />
        <setting id="night_SaveRadioStation" type="string" visible ="false" />
        <setting id="night_SettingsIcon2" type="string" visible ="false" />
        <setting id="night_Show_Clock_white" type="bool" visible ="false" />
        <setting id="night_Show_Clock_white" type="string" visible ="false" />
        <setting id="night_ShowMousePointer" type="bool" visible ="false" />
        <setting id="night_ShowOutlines" type="bool" visible ="false" />
        <setting id="night_ShowOutlines" type="string" visible ="false" />
        <setting id="night_ShowStationbuttonsOutlines" type="bool" visible ="false" />
        <setting id="night_SkinHelper.EnableAnimatedPosters" type="string" visible ="false" />
        <setting id="night_SkinHelper.EnablePVRThumbs" type="string" visible ="false" />
        <setting id="night_SkinSettings" type="string" visible ="false" />
        <setting id="night_StartEndDay" type="string" visible ="false" />
        <setting id="night_Startup_Playlist_Path" type="string" visible ="false" />
        <setting id="night_StationbuttonsOutlineColor" type="string" visible ="false" />
        <setting id="night_SubmenuBGTransparency" type="string" visible ="false" />
        <setting id="night_SubmenuIconsBig" type="bool" visible ="false" />
        <setting id="night_SubmenuIconsMid" type="bool" visible ="false" />
        <setting id="night_SubmenuIconsSmall" type="bool" visible ="false" />
        <setting id="night_SubtitleScript_Path" type="string" visible ="false" />
        <setting id="night_Use_Startup_Playlist" type="bool" visible ="false" />
        <setting id="night_UseCustomBackground" type="bool" visible ="false" />
        <setting id="night_UseCustomBackground" type="string" visible ="false" />
        <setting id="night_UseCustomLogo" type="bool" visible ="false" />
        <setting id="night_UseCustomLogo" type="string" visible ="false" />
        <setting id="night_UseRadioBG" type="bool" visible ="false" />
        <setting id="night_UseVisBg" type="bool" visible ="false" />
        <setting id="night_UseVisBg" type="string" visible ="false" />
        <setting id="night_UseVisBgCover" type="bool" visible ="false" />
        <setting id="night_UseVisBgCover" type="string" visible ="false" />
        <setting id="night_UseVisBgFull" type="bool" visible ="false" />
        <setting id="night_UseVisBgFull" type="string" visible ="false" />
        <setting id="night_TempSensor" type="string" visible ="false" />
        <setting id="night_TempSensor" type="bool" visible ="false" />
        <setting id="night_TempSensorCount" type="string" visible ="false" />
        <setting id="night_TempSensorCount" type="bool" visible ="false" />
        <setting id="night_TempBackgroundPath" type="string" visible ="false" />
        <setting id="night_TempBackgroundPath" type="bool" visible ="false" />
        <setting id="night_TempLabelColor" type="string" visible ="false" />
        <setting id="night_TempLabelColor" type="bool" visible ="false" />
        <setting id="night_TempClockColorHours" type="string" visible ="false" />
        <setting id="night_TempClockColorHours" type="bool" visible ="false" />
        <setting id="night_TempClockColorMinutes" type="string" visible ="false" />
        <setting id="night_TempClockColorMinutes" type="bool" visible ="false" />
        <setting id="night_ShowRecentlyAdded" type="string" visible ="false" />
        <setting id="night_ShowRecentlyAdded" type="bool" visible ="false" />
        <setting id="night_ShowNextTrack" type="string" visible ="false" />
        <setting id="night_ShowNextTrack" type="bool" visible ="false" />
        <setting id="night_ShowNextTrackDuration" type="string" visible ="false" />
        <setting id="night_ShowNextTrackDuration" type="bool" visible ="false" />
        <setting id="night_HideMusicInfoBG" type="string" visible ="false" />
        <setting id="night_HideMusicInfoBG" type="bool" visible ="false" />
    </category>
</settings>
