<window id="4">
	<defaultcontrol always="true">4101</defaultcontrol>
	<!-- removed allowoverlay -->
	<backgroundcolor>0</backgroundcolor>
    <controls>
		
		<include>CommonBackground</include>
		<include>HomeButtonCommons</include>
        <include>BottomNowPLaying</include>

<!-- 1st Row -->
		<control type="group" id="4100">
		<include>Window_OpenClose_Animation_Fade</include>
			<posx>134</posx>
			<posy>96</posy>
			<include>VisibleFadeEffect</include>
			<control type="image">
			 	<visible>!Skin.HasSetting(EnableBGColor)</visible>
				<description>Background</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="66000000">black.png</texture>
			</control>
			<control type="image">
			 	<visible>!Control.HasFocus(4101) + Skin.HasSetting(EnableBGColor)</visible>
				<description>Background</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$INFO[Skin.String(HBSolidColor)]">$INFO[Skin.String(HBTransparency)]</texture>
			</control>
			<control type="image">
			 	<visible>Control.HasFocus(4101) + Skin.HasSetting(EnableBGColor)</visible>
				<description>Background</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$INFO[Skin.String(HBSolidColorFocus)]">$INFO[Skin.String(HBTransparency)]</texture>
			</control>
			<control type="image">
			 	<visible>!Control.HasFocus(4101)</visible>
				<description>Outline</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$VAR[HBOutlineColor]">frame_250px.png</texture>
			</control>
			<control type="image">
			 	<visible>Control.HasFocus(4101)</visible>
				<description>Outline Focus</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$VAR[HBOutlineColorFocus]">frame_250px.png</texture>
			</control>
			<control type="button" id="4101">
				<description>Appearance</description>
                <onup>Control.SetFocus(666)</onup>
                <onleft>Control.SetFocus(666)</onleft>
                <ondown>Control.SetFocus(4151)</ondown>
                <onright>Control.SetFocus(4111)</onright>
                <posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<font></font>
	            <texturenofocus colordiffuse="$VAR[CustomColorNofocus]">button_settings_appearance.png</texturenofocus>
                <texturefocus colordiffuse="$VAR[CustomColorFocus]" border="5">button_settings_appearance.png</texturefocus>
				<onclick>ActivateWindow(AppearanceSettings)</onclick>
			</control>
			<control type="label">
				<description>Appearance</description>
				<visible>Control.HasFocus(4101)</visible>
				<posx>0</posx>
				<posy>190</posy>
				<height>40</height>
				<width>250</width>
				<label>$LOCALIZE[31075]</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font28_title</font>
				<textcolor>$VAR[CustomColorFocus]</textcolor>		
			</control>  
			<control type="label">
				<description>Appearance</description>
				<visible>!Control.HasFocus(4101)</visible>
				<posx>0</posx>
				<posy>190</posy>
				<height>40</height>
				<width>250</width>
				<label>$LOCALIZE[31075]</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font28_title</font>
				<textcolor>$VAR[CustomColorNofocus]</textcolor>		
			</control>  
		</control>
		
		<control type="group" id="4110">
		    <include>Window_OpenClose_Animation_Fade</include>
			<posx>388</posx>
			<posy>96</posy>
			<include>VisibleFadeEffect</include>
			<control type="image">
			 	<visible>!Skin.HasSetting(EnableBGColor)</visible>
				<description>Background</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="66000000">black.png</texture>
			</control>
			 <control type="image">
			 	<visible>!Control.HasFocus(4111) + Skin.HasSetting(EnableBGColor)</visible>
				<description>Background</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$INFO[Skin.String(HBSolidColor)]">$INFO[Skin.String(HBTransparency)]</texture>
			</control>
			 <control type="image">
			 	<visible>Control.HasFocus(4111) + Skin.HasSetting(EnableBGColor)</visible>
				<description>Background</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$INFO[Skin.String(HBSolidColorFocus)]">$INFO[Skin.String(HBTransparency)]</texture>
			</control>
			<control type="image">
			 	<visible>!Control.HasFocus(4111)</visible>
				<description>Outline</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$VAR[HBOutlineColor]">frame_250px.png</texture>
			</control>
			<control type="image">
			 	<visible>Control.HasFocus(4111)</visible>
				<description>Outline Focus</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$VAR[HBOutlineColorFocus]">frame_250px.png</texture>
			</control>
			<control type="button" id="4111">
				<description>Media Settings</description>
                <onup>Control.SetFocus(666)</onup>
                <onleft>Control.SetFocus(4101)</onleft>
                <ondown>Control.SetFocus(4161)</ondown>
                <onright>Control.SetFocus(4121)</onright>
                <posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<font></font>
	            <texturenofocus colordiffuse="$VAR[CustomColorNofocus]">button_settings_musik.png</texturenofocus>
                <texturefocus colordiffuse="$VAR[CustomColorFocus]" border="5">button_settings_musik.png</texturefocus>
				<onclick>ActivateWindow(MediaSettings)</onclick>
			</control>
			<control type="label">
				<description>Music</description>
				<visible>Control.HasFocus(4111)</visible>
				<posx>0</posx>
				<posy>190</posy>
				<height>40</height>
				<width>250</width>
				<label>$LOCALIZE[31067]</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font28_title</font>
				<textcolor>$VAR[CustomColorFocus]</textcolor>		
			</control> 
			<control type="label">
				<description>Music</description>
				<visible>!Control.HasFocus(4111)</visible>
				<posx>0</posx>
				<posy>190</posy>
				<height>40</height>
				<width>250</width>
				<label>$LOCALIZE[31067]</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font28_title</font>
				<textcolor>$VAR[CustomColorNofocus]</textcolor>		
			</control> 
		</control>
		
        <control type="group" id="4120">
		<include>Window_OpenClose_Animation_Fade</include>
			<posx>642</posx>
			<posy>96</posy>
			<include>VisibleFadeEffect</include>
			<control type="image">
			 	<visible>!Skin.HasSetting(EnableBGColor)</visible>
				<description>Background</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="66000000">black.png</texture>
			</control>
			 <control type="image">
			 	<visible>!Control.HasFocus(4121) + Skin.HasSetting(EnableBGColor)</visible>
				<description>Background</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$INFO[Skin.String(HBSolidColor)]">$INFO[Skin.String(HBTransparency)]</texture>
			</control>
			 <control type="image">
			 	<visible>Control.HasFocus(4121) + Skin.HasSetting(EnableBGColor)</visible>
				<description>Background</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$INFO[Skin.String(HBSolidColorFocus)]">$INFO[Skin.String(HBTransparency)]</texture>
			</control>
			<control type="image">
			 	<visible>!Control.HasFocus(4121)</visible>
				<description>Outline</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$VAR[HBOutlineColor]">frame_250px.png</texture>
			</control>
			<control type="image">
			 	<visible>Control.HasFocus(4121)</visible>
				<description>Outline Focus</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$VAR[HBOutlineColorFocus]">frame_250px.png</texture>
			</control>
			<control type="button" id="4121">
				<description>Video</description>
                <onup>Control.SetFocus(666)</onup>
                <onright>Control.SetFocus(4131)</onright>
                <onleft>Control.SetFocus(4111)</onleft> 
                <ondown>Control.SetFocus(4171)</ondown>
                <posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<font></font>
	            <texturenofocus colordiffuse="$VAR[CustomColorNofocus]">button_settings_video.png</texturenofocus>
                <texturefocus colordiffuse="$VAR[CustomColorFocus]" border="5">button_settings_video.png</texturefocus>
				<onclick>ActivateWindow(PlayerSettings)</onclick>
			</control>
			<control type="label">
				<description>Player Settings</description>
				<visible>Control.HasFocus(4121)</visible>
				<posx>0</posx>
				<posy>190</posy>
				<height>40</height>
				<width>250</width>
				<label>$LOCALIZE[31291]</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font28_title</font>
				<textcolor>$VAR[CustomColorFocus]</textcolor>		
			</control>	
			<control type="label">
				<description>Player Settings</description>
				<visible>!Control.HasFocus(4121)</visible>
				<posx>0</posx>
				<posy>190</posy>
				<height>40</height>
				<width>250</width>
				<label>$LOCALIZE[31291]</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font28_title</font>
				<textcolor>$VAR[CustomColorNofocus]</textcolor>		
			</control>	
		</control>

		<control type="group" id="4130">
		<include>Window_OpenClose_Animation_Fade</include>
			<posx>896</posx>
			<posy>96</posy>
			<include>VisibleFadeEffect</include>
			<control type="image">
			 	<visible>!Skin.HasSetting(EnableBGColor)</visible>
				<description>Background</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="66000000">black.png</texture>
			</control>
			 <control type="image">
			 	<visible>!Control.HasFocus(4131) + Skin.HasSetting(EnableBGColor)</visible>
				<description>Background</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$INFO[Skin.String(HBSolidColor)]">$INFO[Skin.String(HBTransparency)]</texture>
			</control>
			 <control type="image">
			 	<visible>Control.HasFocus(4131) + Skin.HasSetting(EnableBGColor)</visible>
				<description>Background</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$INFO[Skin.String(HBSolidColorFocus)]">$INFO[Skin.String(HBTransparency)]</texture>
			</control>
			<control type="image">
			 	<visible>!Control.HasFocus(4131)</visible>
				<description>Outline</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$VAR[HBOutlineColor]">frame_250px.png</texture>
			</control>
			<control type="image">
			 	<visible>Control.HasFocus(4131)</visible>
				<description>Outline Focus</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$VAR[HBOutlineColorFocus]">frame_250px.png</texture>
			</control>
			<control type="button" id="4131">
				<description>Skin Settings</description>
                <onup>Control.SetFocus(666)</onup>
                <onleft>Control.SetFocus(4121)</onleft>
                <ondown>Control.SetFocus(4181)</ondown>
                <onright>Control.SetFocus(4151)</onright>
                <posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<font></font>
	            <texturenofocus colordiffuse="$VAR[CustomColorNofocus]">button_settings_skinsettings.png</texturenofocus>
                <texturefocus colordiffuse="$VAR[CustomColorFocus]" border="5">button_settings_skinsettings.png</texturefocus>
				<onclick>Skin.Reset(OpenSettingsMenu1)</onclick>
				<onclick>Skin.Reset(OpenSettingsMenu2)</onclick>
				<onclick>Skin.Reset(OpenSettingsMenu3)</onclick>
				<onclick>Skin.Reset(OpenSettingsMenu4)</onclick>
				<onclick>Skin.Reset(ChangeFocusColor)</onclick>
				<onclick>Skin.Reset(ChangeSubmenuBGColor)</onclick>
				<onclick>Skin.Reset(ChangeIconTextColor)</onclick>
				<onclick>Skin.Reset(ChangeOutlineColor)</onclick>
				<onclick>Skin.Reset(ChangeOutlineColorFocus)</onclick>
				<onclick>Skin.Reset(ChangeButtonBGColor)</onclick>
				<onclick>Skin.Reset(ChangePlayerButtonsBGColor)</onclick>
				<onclick>Skin.Reset(ChangeBottomBGColor)</onclick>
				<onclick>Skin.Reset(ChangeRadioBGColor)</onclick>
				<onclick>Skin.Reset(ChangeRadioDisplayColor)</onclick>
				<onclick>Skin.Reset(ChangeTempClockColorMinutes)</onclick>
				<onclick>Skin.Reset(ChangeTempClockColorHours)</onclick>
				<onclick>Skin.Reset(ChangeTempLabelColor)</onclick>
				<onclick>Skin.Reset(ChangeButtonBGColorFocus)</onclick>
				<onclick>Skin.Reset(ChangeSkinColor)</onclick>
				<onclick>Skin.SetString(SkinSettings,1)</onclick>
				<onclick>ActivateWindow(1113)</onclick>
			</control>
			<control type="label">
				<description>Service</description>
				<visible>Control.HasFocus(4131)</visible>
				<posx>0</posx>
				<posy>190</posy>
				<height>40</height>
				<width>250</width>
				<label>$LOCALIZE[31077]</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font28_title</font>
				<textcolor>$VAR[CustomColorFocus]</textcolor>		
				</control> 
			<control type="label">
				<description>Service</description>
				<visible>!Control.HasFocus(4131)</visible>
				<posx>0</posx>
				<posy>190</posy>
				<height>40</height>
				<width>250</width>
				<label>$LOCALIZE[31077]</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font28_title</font>
				<textcolor>$VAR[CustomColorNofocus]</textcolor>		
				</control> 
		</control>

<!-- 2nd Row -->
		
		<control type="group" id="4150">
		<include>Window_OpenClose_Animation_Fade</include>
			<posx>134</posx>
			<posy>350</posy>
			<include>VisibleFadeEffect</include>
			<control type="image">
			 	<visible>!Skin.HasSetting(EnableBGColor)</visible>
				<description>Background</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="66000000">black.png</texture>
			</control>
			 <control type="image">
			 	<visible>!Control.HasFocus(4151) + Skin.HasSetting(EnableBGColor)</visible>
				<description>Background</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$INFO[Skin.String(HBSolidColor)]">$INFO[Skin.String(HBTransparency)]</texture>
			</control>
			 <control type="image">
			 	<visible>Control.HasFocus(4151) + Skin.HasSetting(EnableBGColor)</visible>
				<description>Background</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$INFO[Skin.String(HBSolidColorFocus)]">$INFO[Skin.String(HBTransparency)]</texture>
			</control>
			<control type="image">
			 	<visible>!Control.HasFocus(4151)</visible>
				<description>Outline</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$VAR[HBOutlineColor]">frame_250px.png</texture>
			</control>
			<control type="image">
			 	<visible>Control.HasFocus(4151)</visible>
				<description>Outline Focus</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$VAR[HBOutlineColorFocus]">frame_250px.png</texture>
			</control>
			<control type="button" id="4151">
				<description>Add-ons</description>
                <onup>Control.SetFocus(4101)</onup>
                <onright>Control.SetFocus(4161)</onright>
                <onleft>Control.SetFocus(4131)</onleft> 
                <ondown>Control.SetFocus(4301)</ondown>
                <posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<font></font>
	            <texturenofocus colordiffuse="$VAR[CustomColorNofocus]">button_settings_addons.png</texturenofocus>
                <texturefocus colordiffuse="$VAR[CustomColorFocus]" border="5">button_settings_addons.png</texturefocus>
				<onclick>ActivateWindow(AddonBrowser)</onclick>
			</control>
			<control type="label">
				<description>Addons</description>
				<visible>Control.HasFocus(4151)</visible>
				<posx>0</posx>
				<posy>190</posy>
				<height>40</height>
				<width>250</width>
				<label>$LOCALIZE[31078]</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font28_title</font>
				<textcolor>$VAR[CustomColorFocus]</textcolor>		
			</control>	
			<control type="label">
				<description>Video</description>
				<visible>!Control.HasFocus(4151)</visible>
				<posx>0</posx>
				<posy>190</posy>
				<height>40</height>
				<width>250</width>
				<label>$LOCALIZE[31078]</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font28_title</font>
				<textcolor>$VAR[CustomColorNofocus]</textcolor>		
			</control>	
		</control>
		
		<control type="group" id="4160">
		<include>Window_OpenClose_Animation_Fade</include>
			<posx>388</posx>
			<posy>350</posy>
			<include>VisibleFadeEffect</include>
			<control type="image">
			 	<visible>!Skin.HasSetting(EnableBGColor)</visible>
				<description>Background</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="66000000">black.png</texture>
			</control>
			 <control type="image">
			 	<visible>!Control.HasFocus(4161) + Skin.HasSetting(EnableBGColor)</visible>
				<description>Background</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$INFO[Skin.String(HBSolidColor)]">$INFO[Skin.String(HBTransparency)]</texture>
			</control>
			 <control type="image">
			 	<visible>Control.HasFocus(4161) + Skin.HasSetting(EnableBGColor)</visible>
				<description>Background</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$INFO[Skin.String(HBSolidColorFocus)]">$INFO[Skin.String(HBTransparency)]</texture>
			</control>
			<control type="image">
			 	<visible>!Control.HasFocus(4161)</visible>
				<description>Outline</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$VAR[HBOutlineColor]">frame_250px.png</texture>
			</control>
			<control type="image">
			 	<visible>Control.HasFocus(4161)</visible>
				<description>Outline Focus</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$VAR[HBOutlineColorFocus]">frame_250px.png</texture>
			</control>
			<control type="button" id="4161">
				<description>Services</description>
                <onup>Control.SetFocus(4111)</onup>
                <onleft>Control.SetFocus(4151)</onleft>
                <ondown>Control.SetFocus(4301)</ondown>
                <onright>Control.SetFocus(4171)</onright>
                <posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<font></font>
	            <texturenofocus colordiffuse="$VAR[CustomColorNofocus]">button_settings_service.png</texturenofocus>
                <texturefocus colordiffuse="$VAR[CustomColorFocus]" border="5">button_settings_service.png</texturefocus>
				<onclick>ActivateWindow(ServiceSettings)</onclick>
			</control>
			<control type="label">
				<description>Service</description>
				<visible>Control.HasFocus(4161)</visible>
				<posx>0</posx>
				<posy>190</posy>
				<height>40</height>
				<width>250</width>
				<label>$LOCALIZE[31076]</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font28_title</font>
				<textcolor>$VAR[CustomColorFocus]</textcolor>		
				</control> 
			<control type="label">
				<description>Service</description>
				<visible>!Control.HasFocus(4161)</visible>
				<posx>0</posx>
				<posy>190</posy>
				<height>40</height>
				<width>250</width>
				<label>$LOCALIZE[31076]</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font28_title</font>
				<textcolor>$VAR[CustomColorNofocus]</textcolor>		
				</control> 
		</control>
		
		<control type="group" id="4170">
		<include>Window_OpenClose_Animation_Fade</include>
			<posx>642</posx>
			<posy>350</posy>
			<include>VisibleFadeEffect</include>
			<control type="image">
			 	<visible>!Skin.HasSetting(EnableBGColor)</visible>
				<description>Background</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="66000000">black.png</texture>
			</control>
			 <control type="image">
			 	<visible>!Control.HasFocus(4171) + Skin.HasSetting(EnableBGColor)</visible>
				<description>Background</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$INFO[Skin.String(HBSolidColor)]">$INFO[Skin.String(HBTransparency)]</texture>
			</control>
			 <control type="image">
			 	<visible>Control.HasFocus(4171) + Skin.HasSetting(EnableBGColor)</visible>
				<description>Background</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$INFO[Skin.String(HBSolidColorFocus)]">$INFO[Skin.String(HBTransparency)]</texture>
			</control>
			<control type="image">
			 	<visible>!Control.HasFocus(4171)</visible>
				<description>Outline</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$VAR[HBOutlineColor]">frame_250px.png</texture>
			</control>
			<control type="image">
			 	<visible>Control.HasFocus(4171)</visible>
				<description>Outline Focus</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$VAR[HBOutlineColorFocus]">frame_250px.png</texture>
			</control>
			<control type="button" id="4171">
				<description>System</description>
                <onup>Control.SetFocus(4121)</onup>
                <onright>Control.SetFocus(4181)</onright>
                <onleft>Control.SetFocus(4161)</onleft> 
                <ondown>Control.SetFocus(4301)</ondown>
                <posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<font></font>
	            <texturenofocus colordiffuse="$VAR[CustomColorNofocus]">button_settings_settings.png</texturenofocus>
                <texturefocus colordiffuse="$VAR[CustomColorFocus]" border="5">button_settings_settings.png</texturefocus>
				<onclick>ActivateWindow(SystemSettings)</onclick>
			</control>
			<control type="label">
				<description>System</description>
				<visible>Control.HasFocus(4171)</visible>
				<posx>0</posx>
				<posy>190</posy>
				<height>40</height>
				<width>250</width>
				<label>$LOCALIZE[31079]</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font28_title</font>
				<textcolor>$VAR[CustomColorFocus]</textcolor>		
			</control>	
			<control type="label">
				<description>System</description>
				<visible>!Control.HasFocus(4171)</visible>
				<posx>0</posx>
				<posy>190</posy>
				<height>40</height>
				<width>250</width>
				<label>$LOCALIZE[31079]</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font28_title</font>
				<textcolor>$VAR[CustomColorNofocus]</textcolor>		
			</control>	
		</control>
		
		<control type="group" id="4180">
		<include>Window_OpenClose_Animation_Fade</include>
			<posx>896</posx>
			<posy>350</posy>
			<include>VisibleFadeEffect</include>
			<control type="image">
			 	<visible>!Skin.HasSetting(EnableBGColor)</visible>
				<description>Background</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="66000000">black.png</texture>
			</control>
			 <control type="image">
			 	<visible>!Control.HasFocus(4181) + Skin.HasSetting(EnableBGColor)</visible>
				<description>Background</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$INFO[Skin.String(HBSolidColor)]">$INFO[Skin.String(HBTransparency)]</texture>
			</control>
			 <control type="image">
			 	<visible>Control.HasFocus(4181) + Skin.HasSetting(EnableBGColor)</visible>
				<description>Background</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$INFO[Skin.String(HBSolidColorFocus)]">$INFO[Skin.String(HBTransparency)]</texture>
			</control>
			<control type="image">
			 	<visible>!Control.HasFocus(4181)</visible>
				<description>Outline</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$VAR[HBOutlineColor]">frame_250px.png</texture>
			</control>
			<control type="image">
			 	<visible>Control.HasFocus(4181)</visible>
				<description>Outline Focus</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<aspectratio scalediffuse="true" align="center" aligny="center">stretch</aspectratio>
				<texture colordiffuse="$VAR[HBOutlineColorFocus]">frame_250px.png</texture>
			</control>
			<control type="button" id="4181">
				<description>System Info</description>
                <onup>Control.SetFocus(4131)</onup>
                <onright>Control.SetFocus(4101)</onright>
                <ondown>Control.SetFocus(4301)</ondown>
                <onleft>Control.SetFocus(4171)</onleft> 
                <posx>0</posx>
				<posy>0</posy>
				<width>250</width>
				<height>250</height>
				<font></font>
	            <texturenofocus colordiffuse="$VAR[CustomColorNofocus]">button_settings_systeminfo.png</texturenofocus>
                <texturefocus colordiffuse="$VAR[CustomColorFocus]" border="5">button_settings_systeminfo.png</texturefocus>
				<texturenofocus >system_info_s.png</texturenofocus>
				<texturefocus>system_info_s_p.png</texturefocus>
				<onclick>ActivateWindow(SystemInfo)</onclick>
			</control>
			<control type="label">
				<description>System Info</description>
				<visible>Control.HasFocus(4181)</visible>
				<posx>0</posx>
				<posy>190</posy>
				<height>40</height>
				<width>250</width>
				<label>$LOCALIZE[31080]</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font28_title</font>
				<textcolor>$VAR[CustomColorFocus]</textcolor>		
			</control>	
			<control type="label">
				<description>System Info</description>
				<visible>!Control.HasFocus(4181)</visible>
				<posx>0</posx>
				<posy>190</posy>
				<height>40</height>
				<width>250</width>
				<label>$LOCALIZE[31080]</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font28_title</font>
				<textcolor>$VAR[CustomColorNofocus]</textcolor>		
			</control>	
		</control>

		<control type="label">
			<description>Window label</description>
			<include>MediaWindowTitleCommons</include>
			<label>$LOCALIZE[5]</label>
		</control>
		
		<control type="group" id="4300">
           <include>Window_OpenClose_Animation_Fade</include>
            <posx>95r</posx>
            <posy>85r</posy>
            <control type="button" id="4301">
                <ondown></ondown>
                <onup>Control.SetFocus(4181)</onup>
                <onleft condition="Control.IsVisible(605)">Control.SetFocus(605)</onleft>
				<onright></onright>
                <description>Back Button</description>
                <posx>0</posx>
                <posy>0</posy>
                <width>70</width>
                <height>70</height>
                <texturenofocus colordiffuse="$VAR[CustomColorNofocus]">icon_back_w.png</texturenofocus>
                <texturefocus colordiffuse="$VAR[CustomColorFocus]">icon_back_w.png</texturefocus>
                <onclick>back</onclick>
            </control>   
        </control>
		
		<include>BehindDialogFadeOut</include>
	</controls>
</window>
